@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: Poppins, sans-serif;
}
@keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  /* Define the animation for sliding out */
  @keyframes slideOut {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  

  .slide-in {
    animation: slideIn 0.5s ease forwards;
  }
  
  .slide-out {
    animation: slideOut 0.5s ease forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .mainApp img {
    animation: fadeIn 1s ease forwards;
  }
  .nav-link {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000; /* Adjust as needed */
    transition: width 0.3s ease;
}

.nav-link::before {
    transition-delay: 0.1s; /* Adjust as needed */
    transform: translateX(-50%);
}

.nav-link::after {
    transition-delay: 0.1s; /* Adjust as needed */
    transform: translateX(-50%);
}

.nav-link:hover::before {
    width: 100%;
    transition-delay: 0s;
}

.nav-link:hover::after {
    width: 100%;
}

.hidden {
    display: none;
}
